    <!-- About us page for web-server -->

<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/imgs/cloud-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        p{
            font-size: 19px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hello! This website is created by Mak Ryder. <br>
            On this website you are able to see the weather forecast of your area. <br>
        The result of forecast is based on Mapbox and Weatherstack.</p>
        <img class="portrait" src="/imgs/weather-forecast.png">
    </div>
    
    {{>footer}}
</body>
</html>