<!-- Help page for web-server -->

<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/imgs/cloud-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{type}}</p>
        <p>This is just text</p>
    </div>
    
    
    {{>footer}}
</body>
</html>